<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zukirou.games.childofclouds"
    android:versionCode="1"
    android:versionName="1.000.000" 
    android:installLocation="preferExternal">

    <uses-sdk
        android:minSdkVersion="3"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/icon"
        android:label="ChildOfClouds"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ChildOfClouds"
            android:label="ChildOfClouds" 
            android:screenOrientation="portrait" 
            android:configChanges="keyboard|keyboardHidden|orientation">            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Assets"
            android:label="Assets" 
            android:screenOrientation="portrait" 
            android:configChanges="keyboard|keyboardHidden|orientation">            
        </activity>
        <activity
            android:name=".BodyCloud"
            android:label="BodyCloud" 
            android:screenOrientation="portrait" 
            android:configChanges="keyboard|keyboardHidden|orientation">            
        </activity>
        <activity
            android:name=".Drop"
            android:label="Drop" 
            android:screenOrientation="portrait" 
            android:configChanges="keyboard|keyboardHidden|orientation">            
        </activity>
        <activity
            android:name=".Dust"
            android:label="Dust" 
            android:screenOrientation="portrait" 
            android:configChanges="keyboard|keyboardHidden|orientation">            
        </activity>
        <activity
            android:name=".GameScreen"
            android:label="GameScreen" 
            android:screenOrientation="portrait" 
            android:configChanges="keyboard|keyboardHidden|orientation">            
        </activity>
        <activity
            android:name=".HelpScreen"
            android:label="HelpScreen" 
            android:screenOrientation="portrait" 
            android:configChanges="keyboard|keyboardHidden|orientation">            
        </activity>
        <activity
            android:name=".HelpScreen2"
            android:label="HelpScreen2" 
            android:screenOrientation="portrait" 
            android:configChanges="keyboard|keyboardHidden|orientation">            
        </activity>
        <activity
            android:name=".HelpScreen3"
            android:label="HelpScreen3" 
            android:screenOrientation="portrait" 
            android:configChanges="keyboard|keyboardHidden|orientation">            
        </activity>
        <activity
            android:name=".HelpScreen4"
            android:label="HelpScreen4" 
            android:screenOrientation="portrait" 
            android:configChanges="keyboard|keyboardHidden|orientation">            
        </activity>
        <activity
            android:name=".HighscoreScreen"
            android:label="HighscoreScreen" 
            android:screenOrientation="portrait" 
            android:configChanges="keyboard|keyboardHidden|orientation">            
        </activity>
        <activity
            android:name=".LoadingScreen"
            android:label="LoadingScreen" 
            android:screenOrientation="portrait" 
            android:configChanges="keyboard|keyboardHidden|orientation">            
        </activity>
        <activity
            android:name=".MainMenuScreen"
            android:label="MainMenuScreen" 
            android:screenOrientation="portrait" 
            android:configChanges="keyboard|keyboardHidden|orientation">            
        </activity>
        <activity
            android:name=".Settings"
            android:label="Settings" 
            android:screenOrientation="portrait" 
            android:configChanges="keyboard|keyboardHidden|orientation">            
        </activity>
        <activity
            android:name=".World"
            android:label="World" 
            android:screenOrientation="portrait" 
            android:configChanges="keyboard|keyboardHidden|orientation">            
        </activity>
        <activity
            android:name=".BlackBodyCloud"
            android:label="BlackBodyCloud" 
            android:screenOrientation="portrait" 
            android:configChanges="keyboard|keyboardHidden|orientation">            
        </activity>
        <activity
            android:name=".BlackDrop"
            android:label="BlackDrop" 
            android:screenOrientation="portrait" 
            android:configChanges="keyboard|keyboardHidden|orientation">            
        </activity>
        </application>
    
	<uses-permission android:name ="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name ="android.permission.WAKE_LOCK" />
    
</manifest>